// Import "Poppins" from Google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

// Font sizes
$size-1: 0.75rem; 		// 12px
$size-2: 1rem; 			// 16px
$size-3: 1.25rem; 		// 20px
$size-4: 1.5rem; 		// 24px
$size-5: 2rem; 			// 32px

// Font weights
$weight-light: 200;
$weight-normal: 400;
$weight-bold: 600;