// Colors
$black: #1E1E1E;
$grey: #BBBBBB;
$white: #FFFFFF;

$blue: #6194E1;
$blue-light: #D7E7FF;
$green: #639C59;
$green-light: #D7FFD0;
$red: #E96C6C;
$red-light: #FED6D6;
$yellow: #FDC256;

// Spacings
$spacing-1: 0.5rem;		// 8px
$spacing-2: 1rem;		// 16px
$spacing-3: 1.5rem;		// 24px
$spacing-4: 2rem;		// 32px
$spacing-5: 3rem;		// 48px

// Border radius
$radius-1: 1rem;	// 16px
$radius-2: 2rem;	// 32px
$radius-3: 3rem;	// 48px