// Colors
$black: #1B1B1B;
$grey: #BBBBBB;
$white: #FFFFFF;

$red: #E96C6C;
$red-light: #FED6D6;
$pink: #FD81EA;
$pink-light: #FFD7F9;
$purple-light: #F0DDFF;
$purple: #B26CE9;
$blue-darker: #0E1338;
$blue: #6194E1;
$blue-light: #D7E7FF;
$green: #639C59;
$green-light: #D7FFD0;
$yellow: #FDC256;
$yellow-light: #FFEDCD;

// Spacings
$spacing-1: 0.5rem;		// 8px
$spacing-2: 0.75rem;	// 12px
$spacing-3: 1rem;		// 16px
$spacing-4: 1.5rem;		// 24px
$spacing-4: 2rem;		// 32px
$spacing-5: 3rem;		// 48px

// Border radius
$radius-1: 1rem;	// 16px
$radius-2: 2rem;	// 32px
$radius-3: 3rem;	// 48px